.qsection{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    border: 2px solid #fff;
    color: #2c3e50;
    background-color:#fff;
}
.qs_header{
    padding: 10px 0 0 10px;
}
.qs_title1{
    background-color: #38b8ff; margin-right: 10px; font-size: 1.25em;
}


.qs_title2{
    font-size: 1.25em;
    color: #59ebe8;
    font-family: "Microsoft YaHei" !important;
}
.qs_body{
    width:100%;
    height:100%;
    padding:0 0 0 5px;
}
/******bootstrap theme******/
.btn-primary, .btn-primary:hover{background-color:#00ced1;}